body {
  background-image: url("./img/fanny-imperial-warrior-skin-mobile-legends-4k-wallpaper-uhdpaper.com-354@0@e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
